* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	background: #bac9c4d7;
	width: 800px;
	height: 1400px;
	margin: 20px auto;
	box-shadow: 5px 5px 5px 5px #b5b5b5;
}
.box-1 {
	display: flex;

}
.navigation {
	font-size: 12px;
	display: flex;

}